.box{
    width: 200px;
    height: 200px;
    background-color:cornflowerblue
}
.box2{
    margin: 30px; /* all 4 sides same size*/
    margin: 10px 30px; /* Top: 10 right:30 */
    margin: 10px 30px 20px 40px; /* Top: 10 right:30 bottom:20 left:40 */
    
}
body